@use '../mixins/responsive.scss' as *;
.trackyserver{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom:10px;
    &__info{
        
        display: flex;
    flex-direction: column;
    justify-content: center;
        
        align-items: center;
        @include responsive(desktop) {
            left:90px;
        }
    }
    @include responsive(desktop) {
        position: absolute;
    bottom:150px;
    left:210px;
    }
}